<!-- templates/blog/detail.html -->

{% extends 'base.html' %}
{% block title %} {{ block.super }} {{ post }} {% endblock title %}

{% block content %}

	<h2>{{ post.title }}
		[<a href="{% url 'blog:edit' pk=post.pk %}">Edit</a>]
	</h2>
	<p>
		Posted: {{ post.date|date:"M j, Y"}}
		{% if post.author %}
		by {{ post.author|title }}
		{% endif %}
	</p>

	<!-- Images -->
	<!-- 	{% if post.image %}
		<img class="post-img" src="{{ post.image.url }}" height="100">
	{% endif %} -->

	<!-- Image thumbnail -->
	{% if post.image %}
		<img class="post-img" src="{{ post.image_thumbnail.url }}">
	{% endif %}
	<p>{{ post.body }}</p>

	{% if post.tags %}
	<div class="tags">
		{% for tag in post.tags.all %}
		<a href="{% url 'blog:posts_by_tag' tag.slug %}">{{ tag }}</a>
		{% endfor %}
	</div>
	{% endif %}
	
{% endblock content %}