{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Blog Platform :: {% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
	<ul class="menu">
		<li>
			<a class="{% if section == 'home' %} active {% endif %}" href="{% url 'blog:home' %}">
				Home
			</a>
		</li>
		<li>
			<a class="{% if section == 'about' %} active {% endif %}" href="{% url 'blog:about' %}">
				About
			</a>
		</li>
	</ul>

	<hr>

	{% block content %}
	{% endblock content %}

</body>
</html>